<section class="about">
    <h1 class="text-center mb-5">About</h1>
    <p> It might be worth mentioning that the CommonModule is located in It might be worth mentioning that the CommonModule is located in
        It might be worth mentioning that the CommonModule is located in It might be worth mentioning that the CommonModule is located in
        It might be worth mentioning that the CommonModule is located in It might be worth mentioning that the CommonModule is located in        
    </p>
    <p> It might be worth mentioning that the CommonModule is located in It might be worth mentioning that the CommonModule is located in
        It might be worth mentioning that the CommonModule is located in It might be worth mentioning that the CommonModule is located in
        It might be worth mentioning that the CommonModule is located in It might be worth mentioning that the CommonModule is located in        
    </p>
    <p> It might be worth mentioning that the CommonModule is located in It might be worth mentioning that the CommonModule is located in
        It might be worth mentioning that the CommonModule is located in It might be worth mentioning that the CommonModule is located in
        It might be worth mentioning that the CommonModule is located in It might be worth mentioning that the CommonModule is located in        
    </p>
    <div class="follow text-center">
        <h4>Follow Us</h4>
        <a href="#">Facebook</a>
        <a href="#">Youtube</a>
        <a href="#">Instagram</a>
        <a href="#">Twitter</a>
    </div>
</section>